@font-face {
  font-family: 'UnicornFarts-Regular';
  src:  url('http://unicorns.irenas.art/assets/UnicornFarts-Regular.otf') format('otf');
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
